// Changes to the default Bespoke nebula style
.bespoke-parent
  color: #fff

.bespoke-slide tt
  text-transform: none

h1, h2
  letter-spacing: 0.1em

code
  font-weight: bold !important

a
  padding-left: 0
