// Changes to the default Bespoke nebula style
.bespoke-parent
  color: #fff
  background: #000

.bespoke-slide tt
  text-transform: none

h1, h2
  letter-spacing: 0.1em

.intro h1
  border-width: 0.4rem 0 0.4rem 0

.supposition h1
  border-width: 0  

code
  font-weight: bold !important

tt
  font-style: normal !important
  
a
  padding-left: 0

iframe
  border: 0px solid #333
  height: 70%
  width: 90%

ul
  text-align: center

ul li:before
  content: ""

.horizontal li
  display: inline
  padding: 0
  margin: 0
  
.horizontal
  text-align: center

.horizontal li:before
  content: ""

.horizontal img
  width: 30%
  height: auto

.emphatic
  background: linear-gradient(red, black)

.bespoke-slide
  transition-length: 2s !important

.bespoke-inactive.emphatic-text
  filter: blur(10px)
  
.bespoke-active.emphatic-text
  filter: none
  
.filter-invert
  filter: invert(100%)

.openmusic
  background: linear-gradient(#0ee, black)
