*, *:before, *:after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

button {
  font-size: inherit;
}

small {
  font-size: 50%;
  font-style: italic;
}
